In [11]:
import os
from dotenv import load_dotenv
from sqlalchemy import create_engine
import pandas as pd

# --- Load environment variables from .env ---
load_dotenv()

# --- Read DB credentials ---
DB_USER = os.getenv("DB_USER")
DB_PASSWORD = os.getenv("DB_PASSWORD")
DB_HOST = os.getenv("DB_HOST")
DB_PORT = os.getenv("DB_PORT")
DB_NAME = os.getenv("DB_NAME")

# --- Construct database URL ---
DATABASE_URL = f"postgresql+psycopg2://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}"

# --- Create engine and query ---
engine = create_engine(DATABASE_URL)

query_root = "SELECT * FROM analytics.latest_"

tables = [
    # 'da_capacity',
    'da_flow',
    # 'da_idx_prices',
    # 'da_prices',
    # 'da_volumes'
]


# --- Load data ---
for table in tables:
    try:
        df = pd.read_sql(query_root+table, engine)
        df.to_csv(f'../exports/{table}.csv',index=False)
    except Exception as e:
        print(f"Failed on table: {table}. Error querying database: {e}")
        continue

print('complete')

complete

In [12]:
df.head()

,delivery_date,time_window_gmt,delivery_start,delivery_end,no2_total_export_mwh,no2_total_import_mwh,uk_total_export_mwh,uk_total_import_mwh
0,2025-04-01,23:00 - 00:00,2025-03-31 22:00:00+00:00,2025-03-31 23:00:00+00:00,1035.0,0.0,0.0,999.8
1,2025-04-01,00:00 - 01:00,2025-03-31 23:00:00+00:00,2025-04-01 00:00:00+00:00,1035.0,0.0,0.0,999.8
2,2025-04-01,01:00 - 02:00,2025-04-01 00:00:00+00:00,2025-04-01 01:00:00+00:00,1035.0,0.0,0.0,999.8
3,2025-04-01,02:00 - 03:00,2025-04-01 01:00:00+00:00,2025-04-01 02:00:00+00:00,1035.0,0.0,0.0,999.8
4,2025-04-01,03:00 - 04:00,2025-04-01 02:00:00+00:00,2025-04-01 03:00:00+00:00,1035.0,0.0,0.0,999.8